{% extends 'eftp_non_formel/base_non_formel.html' %}
{% load static %}

{% block title %}{{ titre }}{% endblock %}

{% block nonformel_content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">
                    <i class="fas fa-hammer me-2"></i>
                    {{ titre }}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.secteur.id_for_label }}" class="form-label">Secteur *</label>
                            {{ form.secteur }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.duree_apprentissage.id_for_label }}" class="form-label">Durée d'apprentissage *</label>
                            {{ form.duree_apprentissage }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.nom_metier.id_for_label }}" class="form-label">Nom du métier *</label>
                            {{ form.nom_metier }}
                        </div>
                    </div>
                    
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Promotion I</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_1_m.id_for_label }}" class="form-label">Masculin</label>
                                    {{ form.promo_1_m }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_1_f.id_for_label }}" class="form-label">Féminin</label>
                                    {{ form.promo_1_f }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Promotion II</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_2_m.id_for_label }}" class="form-label">Masculin</label>
                                    {{ form.promo_2_m }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_2_f.id_for_label }}" class="form-label">Féminin</label>
                                    {{ form.promo_2_f }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Promotion III</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_3_m.id_for_label }}" class="form-label">Masculin</label>
                                    {{ form.promo_3_m }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="{{ form.promo_3_f.id_for_label }}" class="form-label">Féminin</label>
                                    {{ form.promo_3_f }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card mb-3">
                        <div class="card-header bg-light">
                            <h6 class="mb-0">Catégories spéciales</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.handicapes_m.id_for_label }}" class="form-label">Handicapés M</label>
                                    {{ form.handicapes_m }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.handicapes_f.id_for_label }}" class="form-label">Handicapés F</label>
                                    {{ form.handicapes_f }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.refugies_m.id_for_label }}" class="form-label">Réfugiés M</label>
                                    {{ form.refugies_m }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.refugies_f.id_for_label }}" class="form-label">Réfugiés F</label>
                                    {{ form.refugies_f }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.retournes_m.id_for_label }}" class="form-label">Retournés M</label>
                                    {{ form.retournes_m }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.retournes_f.id_for_label }}" class="form-label">Retournés F</label>
                                    {{ form.retournes_f }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.deplaces_m.id_for_label }}" class="form-label">Déplacés M</label>
                                    {{ form.deplaces_m }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="{{ form.deplaces_f.id_for_label }}" class="form-label">Déplacés F</label>
                                    {{ form.deplaces_f }}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'eftp_non_formel:structure_complet' structure.id %}" class="btn btn-secondary me-md-2">
                            <i class="fas fa-times"></i> Annuler
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}